{% extends '../../layout/default.html.twig' %}

{% block content %}
    <div class="list-group">
        <div id="node-overview" data-component="node_overview"></div>
        <script id="node-overview_props" type="application/json">{{ {}|json_encode }}</script>
    </div>
{% endblock %}
